.admin-profile {
  .pic {
    width: 150px;
    height: 150px;
    border: 5px solid #9FA8DA;
    border-radius: 50%;
    padding: 5px;
    background-color: #E8EAF6;
  }
}

.usr-about {
  background-color: #F5F8FA;
  border-radius: 10px;
  padding: 15px;
}

.admin-social-icon {

  a {

    .icon {
      width: 40px;
      height: 40px;
    }
    .icon-fb {
      border: 3px solid #3F51B5;
      color: #3F51B5;
      border-radius: 50%;
      transition: 0.3s;
    }
    .icon-tw {
      border: 3px solid #2196F3;
      color: #2196F3;
      border-radius: 50%;
      transition: 0.3s;
    }
    .icon-gp {
      border: 3px solid #B71C1C;
      color: #B71C1C;
      border-radius: 50%;
      transition: 0.3s;
    }
  &:hover {
    text-decoration: none;

    .icon-fb {
      background-color: #3F51B5;
      color: #ffffff;
    }
    .icon-tw {
      background-color: #2196F3;
      color: #ffffff;
    }
    .icon-gp {
      background-color: #B71C1C;
      color: #ffffff;
      }
    }
  }
}

.is-warning {
  p {
    color: #FF5252;
    vertical-align: middle;
  }
}

.login-form {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.titre {
  h1 {
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    color: #ffffff;
    padding-top: 30px;
  }
}

/**
  ******************************************************************************
  *                              RIGHT SIDE MENU
  ******************************************************************************
  */
#admin-side-menu {
  position: fixed;
  height: 100vh;
  width: 200px;
  top: 3.3rem;
  bottom: 0;
  right: -200px;
  background-color: white;
  border-left: 1px solid #EEEEEE;
  // overflow-y: scroll;
  transition: right 0.3s ease-in-out;
  &.is-active {
    transition: right 0.3s ease-in-out;
    right: 0;
  }

  @include desktop {
    right: 0;
  }
}

#admin-slideout-btn {
  transition: 0.3s;
  &.is-active {
    transition: 0.3s;
    transform: rotateY(180deg);
  }
}
.flex-container {
  margin: 10px 15px;
  position: relative;
  height: 100%;
}
.managemeng-area {
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;

  @include desktop {
    right: 200px;
  }
}
.submenu {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.menu-list {
  li ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  a:hover {
    text-decoration: none;
    background-color: #304FFE;
    color: #fff;
  }
}

.user-panel {

  .image>.img-circle {
    width: 25px;
    height: 25px;
  }
}

.profile_dropdown {

  .profile {
    padding: 20px 0 10px 0;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    img {
      width: 50px;
      height: 50px;
    }
    p {
      color: #fff;
      font-size: 25px;
      font-weight: 500px;
    }
  }
  .dropdown-buttons {
    display: flex;
    min-height: 50px;

    .profile-btn .logout-btn {
      flex: 1;
      margin: 0 5px;
    }
  }
}
