body {

}

.navbar {
  margin-bottom: 0;
}

.text-left {
  text-align: right;
}

.text-right {
  text-align: left;
}

.list-unstyled {
  padding-right: 0;
}

.list-inline {
  padding-right: 0;
  margin-right: -5px;
  > li {
    padding-left: 5px;
    padding-right: 5px;
  }
}

dd {
  margin-right: 0;
}

blockquote {
  border-right: 5px solid #eee;
}

.blockquote-reverse, blockquote.pull-right {
  padding-left: 15px;
  padding-right: 0;
  text-align: left;
  border-left: 5px solid #eee;
  border-right: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  direction: rtl;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: right;
}

.col-xs-pull-12 {
  left: 100%;
}

.col-xs-pull-11 {
  left: 91.66666667%;
}

.col-xs-pull-10 {
  left: 83.33333333%;
}

.col-xs-pull-9 {
  left: 75%;
}

.col-xs-pull-8 {
  left: 66.66666667%;
}

.col-xs-pull-7 {
  left: 58.33333333%;
}

.col-xs-pull-6 {
  left: 50%;
}

.col-xs-pull-5 {
  left: 41.66666667%;
}

.col-xs-pull-4 {
  left: 33.33333333%;
}

.col-xs-pull-3 {
  left: 25%;
}

.col-xs-pull-2 {
  left: 16.66666667%;
}

.col-xs-pull-1 {
  left: 8.33333333%;
}

.col-xs-pull-0 {
  left: auto;
}

.col-xs-push-12 {
  right: 100%;
}

.col-xs-push-11 {
  right: 91.66666667%;
}

.col-xs-push-10 {
  right: 83.33333333%;
}

.col-xs-push-9 {
  right: 75%;
}

.col-xs-push-8 {
  right: 66.66666667%;
}

.col-xs-push-7 {
  right: 58.33333333%;
}

.col-xs-push-6 {
  right: 50%;
}

.col-xs-push-5 {
  right: 41.66666667%;
}

.col-xs-push-4 {
  right: 33.33333333%;
}

.col-xs-push-3 {
  right: 25%;
}

.col-xs-push-2 {
  right: 16.66666667%;
}

.col-xs-push-1 {
  right: 8.33333333%;
}

.col-xs-push-0 {
  right: auto;
}

.col-xs-offset-12 {
  margin-right: 100%;
}

.col-xs-offset-11 {
  margin-right: 91.66666667%;
}

.col-xs-offset-10 {
  margin-right: 83.33333333%;
}

.col-xs-offset-9 {
  margin-right: 75%;
}

.col-xs-offset-8 {
  margin-right: 66.66666667%;
}

.col-xs-offset-7 {
  margin-right: 58.33333333%;
}

.col-xs-offset-6 {
  margin-right: 50%;
}

.col-xs-offset-5 {
  margin-right: 41.66666667%;
}

.col-xs-offset-4 {
  margin-right: 33.33333333%;
}

.col-xs-offset-3 {
  margin-right: 25%;
}

.col-xs-offset-2 {
  margin-right: 16.66666667%;
}

.col-xs-offset-1 {
  margin-right: 8.33333333%;
}

.col-xs-offset-0 {
  margin-right: 0;
}

caption, th {
  text-align: right;
}

.radio label, .checkbox label {
  padding-right: 20px;
}

.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
  margin-right: -20px;
}

.radio-inline, .checkbox-inline {
  padding-right: 20px;
}

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
  margin-right: 10px;
}

.form-control-static {
  &.input-lg, &.input-sm {
    padding-left: 0;
    padding-right: 0;
  }
}

.has-feedback .form-control {
  padding-left: 42.5px;
}

.form-control-feedback {
  left: 0;
}

.form-horizontal {
  .form-group {
    margin-left: -15px;
    margin-right: -15px;
  }
  .has-feedback .form-control-feedback {
    left: 15px;
  }
}

.caret {
  margin-right: 2px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.dropdown-menu {
  left: 0;
  float: right;
  text-align: right;
  &.pull-right {
    left: 0;
    right: auto;
  }
}

.dropdown-menu-right {
  left: 0;
  right: auto;
}

.dropdown-menu-left {
  left: auto;
  right: 0;
}

.dropdown-backdrop {
  left: 0;
  right: 0;
}

.pull-right > .dropdown-menu {
  left: 0;
  right: auto;
}

.btn-group > .btn, .btn-group-vertical > .btn {
  float: right;
}

.btn-group {
  .btn + {
    .btn, .btn-group {
      margin-right: -1px;
    }
  }
  .btn-group + {
    .btn, .btn-group {
      margin-right: -1px;
    }
  }
}

.btn-toolbar {
  margin-right: -5px;
  .btn-group, .input-group {
    float: right;
  }
  > {
    .btn, .btn-group, .input-group {
      margin-right: 5px;
    }
  }
}

.btn-group > {
  .btn {
    &:first-child {
      margin-right: 0;
      &:not(:last-child):not(.dropdown-toggle) {
        border-bottom-left-radius: 0;
      }
    }
    &:last-child:not(:first-child) {
      border-bottom-right-radius: 0;
    }
  }
  .dropdown-toggle:not(:first-child) {
    border-bottom-right-radius: 0;
  }
  .btn-group {
    float: right;
    &:first-child > {
      .btn:last-child, .dropdown-toggle {
        border-bottom-left-radius: 0;
      }
    }
    &:last-child > .btn:first-child {
      border-bottom-right-radius: 0;
    }
  }
  .btn + .dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px;
  }
  .btn-lg + .dropdown-toggle {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.btn .caret {
  margin-right: 0;
}

.btn-group-vertical > {
  .btn + {
    .btn, .btn-group {
      margin-right: 0;
    }
  }
  .btn-group + {
    .btn, .btn-group {
      margin-right: 0;
    }
  }
  .btn {
    &:first-child:not(:last-child) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child:not(:first-child) {
      border-bottom-right-radius: 4px;
    }
  }
  .btn-group:first-child:not(:last-child) > {
    .btn:last-child, .dropdown-toggle {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.btn-group-justified > .btn-group .dropdown-menu {
  right: auto;
}

.input-group {
  &[class*=col-] {
    padding-left: 0;
    padding-right: 0;
  }
  .form-control {
    float: right;
    &:first-child {
      border-bottom-left-radius: 0;
    }
  }
}

.input-group-addon:first-child {
  border-bottom-left-radius: 0;
}

.input-group-btn {
  &:first-child > {
    .btn, .btn-group > .btn, .dropdown-toggle {
      border-bottom-left-radius: 0;
    }
  }
  &:last-child > {
    .btn:not(:last-child):not(.dropdown-toggle), .btn-group:not(:last-child) > .btn {
      border-bottom-left-radius: 0;
    }
  }
}

.input-group-addon:first-child {
  border-left: 0;
}

.input-group .form-control:last-child, .input-group-addon:last-child {
  border-bottom-right-radius: 0;
}

.input-group-btn {
  &:last-child > {
    .btn, .btn-group > .btn, .dropdown-toggle {
      border-bottom-right-radius: 0;
    }
  }
  &:first-child > {
    .btn:not(:first-child), .btn-group:not(:first-child) > .btn {
      border-bottom-right-radius: 0;
    }
  }
}

.input-group-addon:last-child {
  border-right: 0;
}

.input-group-btn {
  > .btn + .btn {
    margin-right: -1px;
  }
  &:first-child > {
    .btn, .btn-group {
      margin-left: -1px;
    }
  }
  &:last-child > {
    .btn, .btn-group {
      margin-right: -1px;
    }
  }
}

.nav {
  padding-right: 0;
}

.nav-tabs {
  > li {
    float: right;
    > a {
      margin-left: 2px;
      border-radius: 4px 4px 0 0;
    }
  }
  &.nav-justified > {
    li > a {
      margin-left: 0;
    }
    .dropdown .dropdown-menu {
      right: auto;
    }
  }
}

.nav-pills > li {
  float: right;
  + li {
    margin-right: 2px;
  }
}

.nav-stacked > li + li {
  margin-right: 0;
}

.nav-justified > .dropdown .dropdown-menu {
  right: auto;
}

.nav-tabs-justified > li > a {
  margin-left: 0;
}

.navbar-collapse {
  padding-left: 15px;
  padding-right: 15px;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
  margin-left: -15px;
  margin-right: -15px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  left: 0;
  right: 0;
}

.navbar-brand {
  float: right;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.navbar-form {
  margin-left: -15px;
  margin-right: -15px;
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.pagination {
  padding-right: 0;
  > li {
    > {
      a, span {
        float: right;
        margin-right: -1px;
      }
    }
    &:first-child > {
      a, span {
        margin-right: 0;
        border-bottom-right-radius: 4px;
      }
    }
    &:last-child > {
      a, span {
        border-bottom-left-radius: 4px;
      }
    }
  }
}

.pagination-lg > li {
  &:first-child > {
    a, span {
      border-bottom-right-radius: 6px;
    }
  }
  &:last-child > {
    a, span {
      border-bottom-left-radius: 6px;
    }
  }
}

.pagination-sm > li {
  &:first-child > {
    a, span {
      border-bottom-right-radius: 3px;
    }
  }
  &:last-child > {
    a, span {
      border-bottom-left-radius: 3px;
    }
  }
}

.pager {
  padding-right: 0;
  .next > {
    a, span {
      float: left;
    }
  }
  .previous > {
    a, span {
      float: right;
    }
  }
}

.list-group-item > .badge {
  float: left;
  + .badge {
    margin-left: 5px;
  }
}

.nav-pills > li > a > .badge {
  margin-right: 3px;
}

.thumbnail {
  > img, a > img {
    margin-left: auto;
    margin-right: auto;
  }
}

.alert-dismissable, .alert-dismissible {
  padding-left: 35px;
}

.alert-dismissable .close, .alert-dismissible .close {
  left: -21px;
}

.progress-bar {
  float: right;
}

.media-right, .media > .pull-right {
  padding-right: 10px;
}

.media-left, .media > .pull-left {
  padding-left: 10px;
}

.media-list, .list-group {
  padding-right: 0;
}

.list-group-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.panel-footer {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.panel > {
  .list-group:last-child .list-group-item:last-child, .panel-collapse > .list-group:last-child .list-group-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .table caption, .table-responsive > .table caption, .panel-collapse > .table caption {
    padding-left: 15px;
    padding-right: 15px;
  }
  .table:last-child, .table-responsive:last-child > .table:last-child, .table:last-child > tbody:last-child > tr:last-child, .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child, .table:last-child > tfoot:last-child > tr:last-child, .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .table:last-child > tbody:last-child > tr:last-child td:first-child, .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child, .table:last-child > tfoot:last-child > tr:last-child td:first-child, .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child, .table:last-child > tbody:last-child > tr:last-child th:first-child, .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child, .table:last-child > tfoot:last-child > tr:last-child th:first-child, .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
    border-bottom-right-radius: 3px;
  }
  .table:last-child > tbody:last-child > tr:last-child td:last-child, .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child, .table:last-child > tfoot:last-child > tr:last-child td:last-child, .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child, .table:last-child > tbody:last-child > tr:last-child th:last-child, .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child, .table:last-child > tfoot:last-child > tr:last-child th:last-child, .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
    border-bottom-left-radius: 3px;
  }
  .table-bordered > thead > tr > th:first-child, .table-responsive > .table-bordered > thead > tr > th:first-child, .table-bordered > tbody > tr > th:first-child, .table-responsive > .table-bordered > tbody > tr > th:first-child, .table-bordered > tfoot > tr > th:first-child, .table-responsive > .table-bordered > tfoot > tr > th:first-child, .table-bordered > thead > tr > td:first-child, .table-responsive > .table-bordered > thead > tr > td:first-child, .table-bordered > tbody > tr > td:first-child, .table-responsive > .table-bordered > tbody > tr > td:first-child, .table-bordered > tfoot > tr > td:first-child, .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-right: 0;
  }
  .table-bordered > thead > tr > th:last-child, .table-responsive > .table-bordered > thead > tr > th:last-child, .table-bordered > tbody > tr > th:last-child, .table-responsive > .table-bordered > tbody > tr > th:last-child, .table-bordered > tfoot > tr > th:last-child, .table-responsive > .table-bordered > tfoot > tr > th:last-child, .table-bordered > thead > tr > td:last-child, .table-responsive > .table-bordered > thead > tr > td:last-child, .table-bordered > tbody > tr > td:last-child, .table-responsive > .table-bordered > tbody > tr > td:last-child, .table-bordered > tfoot > tr > td:last-child, .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-left: 0;
  }
}

.embed-responsive {
  .embed-responsive-item, iframe, embed, object, video {
    right: 0;
  }
}

.close {
  float: left;
}

.modal, .modal-backdrop {
  left: 0;
  right: 0;
}

.modal-footer {
  text-align: left;
  .btn + .btn {
    margin-right: 5px;
  }
  .btn-group .btn + .btn {
    margin-right: -1px;
  }
  .btn-block + .btn-block {
    margin-right: 0;
  }
}

.tooltip {
  &.right {
    margin-right: 3px;
  }
  &.left {
    margin-right: -3px;
  }
  &.top .tooltip-arrow {
    right: 50%;
    margin-right: -5px;
  }
  &.top-left .tooltip-arrow {
    left: 5px;
  }
  &.top-right .tooltip-arrow {
    right: 5px;
  }
  &.right .tooltip-arrow {
    right: 0;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
  }
  &.left .tooltip-arrow {
    left: 0;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
  }
  &.bottom .tooltip-arrow {
    right: 50%;
    margin-right: -5px;
  }
  &.bottom-left .tooltip-arrow {
    left: 5px;
  }
  &.bottom-right .tooltip-arrow {
    right: 5px;
  }
}

.popover {
  right: 0;
  text-align: right;
  &.right {
    margin-right: 10px;
  }
  &.left {
    margin-right: -10px;
  }
}

.popover-title {
  border-radius: 5px 5px 0 0;
}

.popover {
  &.top > .arrow {
    right: 50%;
    margin-right: -11px;
    &:after {
      margin-right: -10px;
    }
  }
  &.right > .arrow {
    right: -11px;
    border-left-color: rgba(0, 0, 0, 0.25);
    border-right-width: 0;
    &:after {
      right: 1px;
      border-left-color: #fff;
      border-right-width: 0;
    }
  }
  &.bottom > .arrow {
    right: 50%;
    margin-right: -11px;
    &:after {
      margin-right: -10px;
    }
  }
  &.left > .arrow {
    left: -11px;
    border-left-width: 0;
    border-right-color: rgba(0, 0, 0, 0.25);
    &:after {
      left: 1px;
      border-left-width: 0;
      border-right-color: #fff;
    }
  }
}

.carousel-inner > {
  .active {
    right: 0;
  }
  .next {
    right: 100%;
  }
  .prev {
    right: -100%;
  }
  .next.left, .prev.right {
    right: 0;
  }
  .active {
    &.left {
      right: -100%;
    }
    &.right {
      right: 100%;
    }
  }
}

.carousel-control {
  right: 0;
  &.right {
    left: 0;
    right: auto;
  }
  .icon-prev, .glyphicon-chevron-left {
    right: 50%;
    margin-right: -10px;
  }
  .icon-next, .glyphicon-chevron-right {
    left: 50%;
    margin-left: -10px;
  }
}

.carousel-indicators {
  right: 50%;
  padding-right: 0;
  margin-right: -30%;
}

.carousel-caption {
  left: 15%;
  right: 15%;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: left !important;
}

.pull-left {
  float: right !important;
}

@media (min-width: 768px) {
  .dl-horizontal {
    dt {
      float: right;
      clear: right;
      text-align: left;
    }
    dd {
      margin-right: 180px;
    }
  }
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: right;
  }
  .col-sm-pull-12 {
    left: 100%;
  }
  .col-sm-pull-11 {
    left: 91.66666667%;
  }
  .col-sm-pull-10 {
    left: 83.33333333%;
  }
  .col-sm-pull-9 {
    left: 75%;
  }
  .col-sm-pull-8 {
    left: 66.66666667%;
  }
  .col-sm-pull-7 {
    left: 58.33333333%;
  }
  .col-sm-pull-6 {
    left: 50%;
  }
  .col-sm-pull-5 {
    left: 41.66666667%;
  }
  .col-sm-pull-4 {
    left: 33.33333333%;
  }
  .col-sm-pull-3 {
    left: 25%;
  }
  .col-sm-pull-2 {
    left: 16.66666667%;
  }
  .col-sm-pull-1 {
    left: 8.33333333%;
  }
  .col-sm-pull-0 {
    left: auto;
  }
  .col-sm-push-12 {
    right: 100%;
  }
  .col-sm-push-11 {
    right: 91.66666667%;
  }
  .col-sm-push-10 {
    right: 83.33333333%;
  }
  .col-sm-push-9 {
    right: 75%;
  }
  .col-sm-push-8 {
    right: 66.66666667%;
  }
  .col-sm-push-7 {
    right: 58.33333333%;
  }
  .col-sm-push-6 {
    right: 50%;
  }
  .col-sm-push-5 {
    right: 41.66666667%;
  }
  .col-sm-push-4 {
    right: 33.33333333%;
  }
  .col-sm-push-3 {
    right: 25%;
  }
  .col-sm-push-2 {
    right: 16.66666667%;
  }
  .col-sm-push-1 {
    right: 8.33333333%;
  }
  .col-sm-push-0 {
    right: auto;
  }
  .col-sm-offset-12 {
    margin-right: 100%;
  }
  .col-sm-offset-11 {
    margin-right: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-right: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-right: 75%;
  }
  .col-sm-offset-8 {
    margin-right: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-right: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-right: 50%;
  }
  .col-sm-offset-5 {
    margin-right: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-right: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-right: 25%;
  }
  .col-sm-offset-2 {
    margin-right: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-right: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-right: 0;
  }
  .form-inline {
    .radio label, .checkbox label {
      padding-right: 0;
    }
    .radio input[type=radio], .checkbox input[type=checkbox] {
      margin-right: 0;
    }
  }
  .form-horizontal .control-label {
    text-align: left;
  }
  .navbar-right {
    .dropdown-menu {
      left: 0;
      right: auto;
    }
    .dropdown-menu-left {
      left: auto;
      right: 0;
    }
  }
  .nav-tabs.nav-justified > li > a, .nav-tabs-justified > li > a {
    border-radius: 4px 4px 0 0;
  }
  .navbar-header {
    float: right;
  }
  .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-left: 0;
    margin-right: 0;
  }
  .navbar > {
    .container .navbar-brand, .container-fluid .navbar-brand {
      margin-left: 15px;
    }
  }
  .navbar-nav {
    float: right;
    > li {
      float: right;
    }
  }
  .navbar-form {
    .radio label, .checkbox label {
      padding-right: 0;
    }
    .radio input[type=radio], .checkbox input[type=checkbox] {
      margin-right: 0;
    }
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-text {
    float: right;
    margin-left: 15px;
    margin-right: 15px;
  }
  .navbar-left {
    float: right !important;
  }
  .navbar-right {
    float: left !important;
    margin-left: -15px;
    ~ .navbar-right {
      margin-left: 0;
    }
  }
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: right;
  }
  .col-md-pull-12 {
    left: 100%;
  }
  .col-md-pull-11 {
    left: 91.66666667%;
  }
  .col-md-pull-10 {
    left: 83.33333333%;
  }
  .col-md-pull-9 {
    left: 75%;
  }
  .col-md-pull-8 {
    left: 66.66666667%;
  }
  .col-md-pull-7 {
    left: 58.33333333%;
  }
  .col-md-pull-6 {
    left: 50%;
  }
  .col-md-pull-5 {
    left: 41.66666667%;
  }
  .col-md-pull-4 {
    left: 33.33333333%;
  }
  .col-md-pull-3 {
    left: 25%;
  }
  .col-md-pull-2 {
    left: 16.66666667%;
  }
  .col-md-pull-1 {
    left: 8.33333333%;
  }
  .col-md-pull-0 {
    left: auto;
  }
  .col-md-push-12 {
    right: 100%;
  }
  .col-md-push-11 {
    right: 91.66666667%;
  }
  .col-md-push-10 {
    right: 83.33333333%;
  }
  .col-md-push-9 {
    right: 75%;
  }
  .col-md-push-8 {
    right: 66.66666667%;
  }
  .col-md-push-7 {
    right: 58.33333333%;
  }
  .col-md-push-6 {
    right: 50%;
  }
  .col-md-push-5 {
    right: 41.66666667%;
  }
  .col-md-push-4 {
    right: 33.33333333%;
  }
  .col-md-push-3 {
    right: 25%;
  }
  .col-md-push-2 {
    right: 16.66666667%;
  }
  .col-md-push-1 {
    right: 8.33333333%;
  }
  .col-md-push-0 {
    right: auto;
  }
  .col-md-offset-12 {
    margin-right: 100%;
  }
  .col-md-offset-11 {
    margin-right: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-right: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-right: 75%;
  }
  .col-md-offset-8 {
    margin-right: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-right: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-right: 50%;
  }
  .col-md-offset-5 {
    margin-right: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-right: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-right: 25%;
  }
  .col-md-offset-2 {
    margin-right: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-right: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: right;
  }
  .col-lg-pull-12 {
    left: 100%;
  }
  .col-lg-pull-11 {
    left: 91.66666667%;
  }
  .col-lg-pull-10 {
    left: 83.33333333%;
  }
  .col-lg-pull-9 {
    left: 75%;
  }
  .col-lg-pull-8 {
    left: 66.66666667%;
  }
  .col-lg-pull-7 {
    left: 58.33333333%;
  }
  .col-lg-pull-6 {
    left: 50%;
  }
  .col-lg-pull-5 {
    left: 41.66666667%;
  }
  .col-lg-pull-4 {
    left: 33.33333333%;
  }
  .col-lg-pull-3 {
    left: 25%;
  }
  .col-lg-pull-2 {
    left: 16.66666667%;
  }
  .col-lg-pull-1 {
    left: 8.33333333%;
  }
  .col-lg-pull-0 {
    left: auto;
  }
  .col-lg-push-12 {
    right: 100%;
  }
  .col-lg-push-11 {
    right: 91.66666667%;
  }
  .col-lg-push-10 {
    right: 83.33333333%;
  }
  .col-lg-push-9 {
    right: 75%;
  }
  .col-lg-push-8 {
    right: 66.66666667%;
  }
  .col-lg-push-7 {
    right: 58.33333333%;
  }
  .col-lg-push-6 {
    right: 50%;
  }
  .col-lg-push-5 {
    right: 41.66666667%;
  }
  .col-lg-push-4 {
    right: 33.33333333%;
  }
  .col-lg-push-3 {
    right: 25%;
  }
  .col-lg-push-2 {
    right: 16.66666667%;
  }
  .col-lg-push-1 {
    right: 8.33333333%;
  }
  .col-lg-push-0 {
    right: auto;
  }
  .col-lg-offset-12 {
    margin-right: 100%;
  }
  .col-lg-offset-11 {
    margin-right: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-right: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-right: 75%;
  }
  .col-lg-offset-8 {
    margin-right: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-right: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-right: 50%;
  }
  .col-lg-offset-5 {
    margin-right: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-right: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-right: 25%;
  }
  .col-lg-offset-2 {
    margin-right: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-right: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .table-responsive > .table-bordered > {
    thead > tr > th:first-child, tbody > tr > th:first-child, tfoot > tr > th:first-child, thead > tr > td:first-child, tbody > tr > td:first-child, tfoot > tr > td:first-child {
      border-right: 0;
    }
    thead > tr > th:last-child, tbody > tr > th:last-child, tfoot > tr > th:last-child, thead > tr > td:last-child, tbody > tr > td:last-child, tfoot > tr > td:last-child {
      border-left: 0;
    }
  }
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    > li > a, .dropdown-header {
      padding: 5px 25px 5px 15px;
    }
  }
}

@media screen and (min-width: 768px) {
  .container .jumbotron, .container-fluid .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
    direction: rtl;
  }
  .carousel-control {
    .glyphicon-chevron-left, .icon-prev {
      margin-right: -15px;
    }
    .glyphicon-chevron-right, .icon-next {
      margin-left: -15px;
    }
  }
  .carousel-caption {
    left: 20%;
    right: 20%;
  }
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    &.next, &.active.right, &.prev, &.active.left, &.next.left, &.prev.right, &.active {
      right: 0;
    }
  }
}
