.navbar {
  height: 65px;
}

.modal-backdrop {
    /* bug fix - no overlay */
    display: none;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #ffffff;
    color: #555;
}

.label {
  color: #000;
  text-align: right;
}

.disabled {
  display: none;
}

a.button:hover {
  text-decoration: none;
}

// .title {
//   font-size: 20px;
// }

h4 {
  font-weight: 500;
}

.table {
  th {
    text-align: right;
  }
  td {
    text-align: right;
  }
}

.owl-nav {
  display: none;
}
.owl-dots {
  margin-top: 100px;
}
