ul.pagination {
    margin:0 !important;
}

.site-flex-container {
  margin: 0 15px 0 15px;
}

.home_menu_link {
    color:#636b6f;
}

.home_menu_link:hover {
    text-decoration:none;
}

.img-thumbnail {
    margin-right:10px;
    margin-bottom:10px;
    width:200px;
}

.is-muted {
    color: #636b6f;
    opacity: 0.4;
    font-weight: bold;
    &:hover{
        opacity: 1;
        color: #636b6f;
        text-decoration: none;
    }
    .link:hover{
        text-decoration: underline;
    }
}

/* ------------------------
 *  Header Top bar
 *-------------------------*/

 .header-top {
    background: #004D40;
    .social-icon li {
      display: inline-block;
      a {
        line-height: 30px;
        width: 30px;
        color: #fff;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .social-icon {
        margin-left: 0;
      li a:hover {}
      .fa-facebook:hover {
        color: #4E71A8;
      }
      .fa-twitter:hover {
        color: #3FA1DA;
      }
      .fa-pinterest-p:hover {
        color: #E3411F;
      }
      .fa-google-plus:hover {
        color: #CA3737;
      }
      .fa-github:hover {
        color: #3A3A3A;
      }
      .fa-linkedin:hover {
        color: #1f648b;
      }
    }
  }

  /*Social Icon*/

  /* Phone, Emial, Get a Quote */

  /* Media Queries */

  @media only screen and (max-width: 1024px) {
    .header-top {
      text-align: center;
      .top-contact li {
        line-height: 1;
        padding: 5px 0 10px;
        &.get-a-quote a {
          padding: 8px 15px;
        }
      }
    }
    .top-contact.pull-right {
      float: none !important;
    }
  }

/*
----------------------
Menu
----------------------
*/

nav.navbar {
  .fluid-container {
    width: 100%;
  }
}
.nav-menu {
  a {
    height: 65px;
  }
    ul.navbar-left {
      width: 65px;

      a.dropdown-toggle {
        color: #fff;
        padding-top: 15px;
        width: 100%;
        // background: #2196F3;
        &:focus {
          color: #fff;
          background: #2196F3;
        }
      }
    }
    ul.navbar-center {
      width: 165px;
      margin-right: auto;
      margin-left: auto;
    }
    ul.navbar-right {

      .search-input {
        padding-left: 20px;
        .field {
          margin-top: 3px;
          input.input.is-medium {
            width: 58px;
            height: 58px;
            cursor: pointer;
            transition: all .5s ease;
            border: 0px;
            &:focus {
              width: 100%;
              cursor: text;
            }
          }
          span.icon.is-left {
            left: 7px;
            top: 20px;
            cursor: pointer;

            .fa-search{
              cursor: pointer;
            }
          }

        }
      }
    }
}
.dropdown-menu {
  right: 0;
  float: left;
  width: 100%;
  width: 84rem;
  text-align: left;
  .nav-dropdown {
    position: relative;
    background: transparent;
    .menu-ul {
      width: 100%;
      a {
        .li-menu {
          width: 100%;
          height: 100px;
          padding: 40px 20px;
          h5 {
            vertical-align: middle;
            font-size: 25px;

          }
        }
        &:hover {
          text-decoration: none;
          li {
            background:rgba(0,0,0,.4);
          }
        }
      }
    }
  }
  .article-one {
    min-height: 500px;
    max-height: 500px;
    position:relative;
    display:block;
    width:100%;
    background-size:cover;
    background-position:center center;

    a.c5-url {
    display:block;
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    z-index:10;
    background:rgba(0,0,0,.2);
    -webkit-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -o-transition:all .2s ease;
    -ms-transition:all .2s ease;
    transition:all .2s ease;

    &:hover {
      background:rgba(0,0,0,.4);
    }
  }
    .content {
      position: absolute;
      display: block;
      z-index: 15;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 40px 20px 20px;
      color: #fff;
      text-align: center;
      .title>a {
        color: #fff;
        padding-bottom: 10px;
        &:hover {
          text-decoration: none;
          border-bottom: 1px dotted #fff;
        }
      }
      &>p>a {
        color: #fff;
      }
    }
  }
}

@media (max-width: 968px) {
  .dropdown-menu {
    width: 60rem;
  }
}
@media (max-width: 768px) {
  .navbar-nav {
    margin: 7px 0 0 -15px;
  }
  .nav-dropdown {
    min-width: 650px;
  }
  .fluid-container {
    height: 100%;
    margin-top: -7px;

    .nav-menu {
      ul.navbar {
        margin-right: 15px;
      }
    }
  }

  .navbar-nav.navbar-center{
    display: none;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: none!important;

    &>li>a {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 8px;
    }
  }
  .carousel-indicators{
    bottom: -40px;
  }
}

.site-flex-container {
  .article-one {
    min-height: 500px;
    max-height: 500px;
    position:relative;
    display:block;
    width:100%;
    background-size:cover;
    background-position:center center;
    margin-bottom:20px;

    a.c5-url {
    display:block;
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    z-index:10;
    background:rgba(0,0,0,.2);
    -webkit-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -o-transition:all .2s ease;
    -ms-transition:all .2s ease;
    transition:all .2s ease;

    &:hover {
      background:rgba(0,0,0,.4);
    }
  }
    .content {
      position: absolute;
      display: block;
      z-index: 15;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 40px 20px 20px;
      color: #fff;
      text-align: center;
      .title>a {
        color: #fff;
        padding-bottom: 10px;
        &:hover {
          text-decoration: none;
          border-bottom: 1px dotted #fff;
        }
      }
      &>p>a {
        color: #fff;
      }
    }
  }
}
.article-two {
  min-height: 240px;
  position:relative;
  display:block;
  width:100%;
  background-size:cover;
  background-position:center center;
  margin-bottom:20px;

  a.c5-url {
  display:block;
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  z-index:10;
  background:rgba(0,0,0,.2);
  -webkit-transition:all .2s ease;
  -moz-transition:all .2s ease;
  -o-transition:all .2s ease;
  -ms-transition:all .2s ease;
  transition:all .2s ease;

  &:hover {
    background:rgba(0,0,0,.4);
  }
}
  .content {
    position: absolute;
    display: block;
    z-index: 15;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 20px 20px;
    color: #fff;
    text-align: center;
    .title>a {
      color: #fff;
      padding-bottom: 10px;
      &:hover {
        text-decoration: none;
        border-bottom: 1px dotted #fff;
      }
    }
    &>p>a {
      color: #fff;
    }
  }
}
.article-three {
  min-height: 240px;
  position:relative;
  display:block;
  width:100%;
  background-size:cover;
  background-position:center center;
  margin-bottom:20px;

  a.c5-url {
  display:block;
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  z-index:10;
  background:rgba(0,0,0,.2);
  -webkit-transition:all .2s ease;
  -moz-transition:all .2s ease;
  -o-transition:all .2s ease;
  -ms-transition:all .2s ease;
  transition:all .2s ease;

  &:hover {
    background:rgba(0,0,0,.4);
  }
}
  .content {
    position: absolute;
    display: block;
    z-index: 15;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 20px 20px;
    color: #fff;
    text-align: center;
    .title>a {
      color: #fff;
      padding-bottom: 10px;
      &:hover {
        text-decoration: none;
        border-bottom: 1px dotted #fff;
      }
    }
    &>p>a {
      color: #fff;
    }
  }
}

.star-long {
  margin: 40px auto 30px;
  padding: 0;
  max-width: 100%;
  border: 0;
  border-top: solid 1px;
  text-align: right;
}
.star-long:after {
  content: 'الأحدث';
  background: #FFFFFF;
  display: inline-block;
  position: absolute;
  top: 18px;
  padding: 0 .35em;
  margin-right: 30px;
  font-size: 25px;
}
.star-short {
  margin: 40px auto 30px;
  padding: 0;
  max-width: 100%;
  border: 0;
  border-top: solid 1px;
  text-align: center;
}
.star-short:after {
  content: 'الأشهر';
  background: #FFFFFF;
  display: inline-block;
  position: absolute;
  top: 18px;
  padding: 0 .35em;
  font-size: 25px;
}

.post-block-1 {
  position: relative;
  display: block;
  border: 0;
  margin: 10px 0;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid #eee;
  .post-1 {
    position: relative;
    display: block;
    .post-1-img {
      width: 50%;
      float: right;
      height: 150px;
      max-width: 380px;
      display: inline-block;
      img {
        margin: 0;
        padding: 0;
        height: 150px;
        object-fit: cover;
      }
    }
    .content-header {
      width: 50%;
      float: right;
      padding-right: 15px;
      display: inline-block;

      }
      .content-detail {
        color: #000;
        width: 50%;
        float: right;
        padding-right: 15px;
        display: inline-block;
        p {
          display: block;
          -webkit-margin-before: 1em;
          -webkit-margin-after: 1em;
          -webkit-margin-start: 0px;
          -webkit-margin-end: 0px;
        }
        ul.c5-meta-data {
          margin: 0;
          padding: 0;
          list-style: none;
          li.c5-meta-li-data {
            margin: 0;
            color: silver;
            font-size: 14px;
          }
          li{
            display: inline-block;
            white-space: nowrap;
          }
        }
      }
      &:hover {
        .header-title {
          color: #187AB1;
        }
        a{
          text-decoration: none;
        }
    }
  }
}

.c5ab-col-lg-4 {
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  float: right;
  box-sizing: border-box;
  min-height: 1px;
  .c5ab-left-post {
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
    background: #fff;

    .c5ab-post-author {
      position: relative;
      display: block;
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #e4e4e4;

      h5 {
        font-size: 15px;
        line-height: 1.4;
        margin: 0 0 10px;
        a{
          color: #000;
        }
      }
      a.author {
        font-size: 12px;
        img {
          filter: grayscale(1%);
          width: 44px;
          height: 44px;
          border-radius: 50%;
          margin-left: 10px;
        }
        &:hover {
          color: #187AB1;
        }
      }
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.title-container {
  border-bottom: 1px solid #c3c3c3;
  background: #fff;

  .main-title {
    width: 100%;
    display: block;
    position: relative;
    margin: auto;
    max-width: 1170px;

    .header-title {
      display: block;
      padding: 30px 0 20px;

      .post-title {
        line-height: 1;
        font-weight: 600;
        margin: 0 0 10px;
        font-size: 48px;

        a{
          color: inherit;
          text-decoration: none;
          font-weight: 900;
        }
      }
      .header-meta-data {
        color: #929292;
        font-size: 18px;

        .post-breadcrumbs {
          padding-bottom: 15px;
          color: #929292;
          a {
            color: inherit;
            font-size: 18px;
          }
          strong {
            color: inherit;
            font-size: 18px;
          }
        }
        .author-img {
          float: right;
          margin-top: 7px;
          margin-left: 20px;

          img {
            width: 40px;
            height: 40px;
            display: block;
            border-radius: 100%;
            filter: grayscale(100%);
          }
        }
        .author-info {
          font-size: 12px;
          a {
            color: inherit;
          }
          .cat-in {
            margin-left: 10px;
            margin-right: 10px;
          }
          .cat-link {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.article-container {
  .main-content {
    width: 100%;
    display: block;
    position: relative;
    margin: auto;
    max-width: 1170px;
    transform: none;

    .content {
      transform: none;

      .inner-content {
        position: relative;
        display: block;
        background: #fff;

        .main {
          float: right;
          width: 100%;

          article {
            display: block;

            .c5-thumb {
              position: relative;
              display: block;
              margin-bottom: 0;

              img {
                width: 100%;
                height: auto;
                max-width: 100%;
              }
            }
            .article-content {
              clear: both;
              font-size: 20px;
              padding: 30px;
              line-height: 1.7;
              background: #fff;
              border: 1px solid #eee;

              .relatedPostsSlider {
                margin-top: 50px;

                img {
                  height: 150px;
                }
                a span {
                  color: #000;
                }
              }
              .article-disclaimer-toggle{
                font-size: 12px;
                color: #000;
                &:hover{
                  text-decoration: none;
                  color: #BF360C;
                }
              }
              .article-disclaimer-content{
                clear: both;
                padding: 5px;
                margin: 5px 0;
                font-size: 10px;
                font-weight: bold;
                font-style: italic;
                text-align: center;
                border-radius: 5px;
                border: 0.5px solid #ddd;
              }
            }
          }
        }
      }
    }
  }
}
.social-share-btn {
  padding: 5px 20px;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 4px 4px -2px #bbb;
  position: relative;

  & .like-btn{
    float: left;
    color: #939393;

    & .add-to-fav {
      line-height: 50px;
      transition: all .2s ease;

      & span.count {
        line-height: 40px;
        margin-top: 2px;
      }
      & span {
        margin-right: 10px;
        margin-top: 8px;
        display: block;
        float: right;
      }
    }
  }
}

.article-footer {
  padding: 30px;
  background: #fff;
  border: 1px solid #ccc;
}

.divider {
  height: 150px;
}
#main-container{
  position: relative;
  display: block;
  overflow: hidden;

  .author-main{
    background: #fff;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
}
.author-main .author-cover-photo {
  min-height: 300px;
  width: 100%;
  display: block;
  background-size: cover;
  background-position: center center;
}
.author-main .author-img {
  width: 100px;
  margin: -50px auto 0;
  padding: 1px;
  background: #fff;
  border-radius: 100%;

  & img{
    border-radius: 100%;
  }
}

.author-data {
  padding: 20px;
  max-width: 700px;
  display: block;
  margin: auto;

  & h3 {
    margin: 0 0 15px;
    line-height: 1;
    font-size: 25px;
    display: block;
    color: inherit;

    &:hover{
      a{
        text-decoration: none;
      }
    }
  }
  & p.user-description {
    margin: 0 0 15px;
    font-size: 20px;
  }
  .social-icons {
    display: inline-block;
    a {

      .icon {
        width: 40px;
        height: 40px;
      }
      .icon-fb {
        border: 3px solid #3F51B5;
        color: #3F51B5;
        border-radius: 50%;
        transition: 0.3s;
      }
      .icon-tw {
        border: 3px solid #2196F3;
        color: #2196F3;
        border-radius: 50%;
        transition: 0.3s;
      }
      .icon-gp {
        border: 3px solid #B71C1C;
        color: #B71C1C;
        border-radius: 50%;
        transition: 0.3s;
      }
    &:hover {
      text-decoration: none;

      .icon-fb {
        background-color: #3F51B5;
        color: #ffffff;
      }
      .icon-tw {
        background-color: #2196F3;
        color: #ffffff;
      }
      .icon-gp {
        background-color: #B71C1C;
        color: #ffffff;
        }
      }
    }
  }
}

.main-container {
  width: 100%;
  display: block;
  position: relative;
  margin: auto;
  max-width: 1170px;
}

/*
* Register & Login form
*/
//
// #tab_container .container_item {
//   display: none;
// }
//
// #tab_container .container_item.is-active {
//   display: block;
// }
//
// #login-dp{
//     min-width: 250px;
//     padding: 14px 14px 0;
//     overflow:hidden;
//     background-color:rgba(255,255,255,.8);
// }
// #login-dp .help-block{
//     font-size:12px
// }
// #login-dp .bottom{
//     background-color:rgba(255,255,255,.8);
//     border-top:1px solid #ddd;
//     clear:both;
//     padding:14px;
// }
// #login-dp .social-buttons{
//     margin:12px 0
// }
// #login-dp .social-buttons a{
//     width: 49%;
// }
// #login-dp .form-group {
//     margin-bottom: 10px;
// }
// .is-fb{
//     color: #3b5998;
//     border-color:#3b5998;
// }
// .is-fb:hover{
//     color: #fff;
//     background-color:#496ebc
// }
// .is-tw{
//     color: #55acee;
//     border-color:#55acee;
// }
// .is-tw:hover{
//     color: #fff;
//     background-color:#59b5fa;
// }
// .is-gp{
//     color: #CA3737;
//     border-color:#CA3737;
// }
// .is-gp:hover{
//     color: #fff;
//     background-color:#CA3737;
// }
// .is-gh{
//     color: #3A3A3A;
//     border-color:#3A3A3A;
// }
// .is-gh:hover{
//     color: #fff;
//     background-color:#3A3A3A;
// }
// .is-in{
//     color: #795548;
//     border-color:#795548;
// }
// .is-in:hover{
//     color: #fff;
//     background-color:#795548;
// }
// .is-ln{
//     color: #1f648b;
//     border-color: #1f648b;
// }
// .is-ln:hover{
//     color: #fff;
//     background-color: #1f648b;
// }
// @media(max-width:768px){
//     #login-dp{
//         background-color: inherit;
//         color: #fff;
//     }
//     #login-dp .bottom{
//         background-color: inherit;
//         border-top:0 none;
//     }
// }

/*
----------------------
Footer section
----------------------
*/
.footer {
  height: 75px;
  width: 100%;
  bottom: 0;
  background: #fff;
  font-weight: 600;
  li{
    display: inline;
    a:hover {
      text-decoration: none;
    }
  }
}
.b-social-icon > li {
  padding: 10px;
}
